html {
    font-size: 10px;
    background: url(bgbg.jpg) bottom center;
    background-size: cover;
  }
  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  .container{
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }

  button{
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
  }

  button:active{
    transform: scale(0.8);
    transform: translate(4px);
    box-shadow:0 0 10px #e8e8e8;
  }

  button:hover{
    transform: scale(1.5);
    box-shadow: 0 0 20px red;
  }

  h1{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    text-decoration: underline;
    color: black;
  }

  #stopbtn{
    color: red;
    margin: 1rem;
    padding: 1rem .5rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
  }